<div class="row">
  <div class="col-sm-11">
    <app-auto-filter-dropdown
      [items$]="categories$"
      placeholder="Select a category"
      (itemChange)="mainCategoryChanged($event)"
    ></app-auto-filter-dropdown>
    <app-auto-filter-dropdown
      [items$]="subCategories$"
      placeholder="Select a sub category"
      [(item)]="subCategory"
    ></app-auto-filter-dropdown>

    <select #difficulty id="difficultySelect">
      <option>Select difficulty</option>
      <option>Easy</option>
      <option>Medium</option>
      <option>Hard</option>
    </select>
    <button
      class="primary"
      id="createBtn"
      (click)="createQuiz(difficulty.value)"
    >
      Create
    </button>
  </div>
</div>
<div class="row">
  <app-quiz [questions]="questions$ | async"></app-quiz>
</div>
